@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&display=swap');
@import "tailwindcss";
@theme {
  --font-manrope: "Manrope", sans-serif;
  --font-inter: "Inter", sans-serif;
  --color-muted-green: #5B6F67;
  --color-cyan-green: #0A3B2C;
  --color-accent : #0E7A50;
  --color-border-grey: #DDEAE3;
  --color-green-text-1: #0F231C;
}



