@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";
@theme {
  --font-manrope-bold: 'Manrope-bold', sans-serif;
  --font-inter: "Inter", sans-serif;
  --color-muted-green: #5B6F67;
  --color-accent : #0E7A50;
}
@font-face {
    font-family: "Manrope-normal" ;
    src: url(assets/fonts/Manrope-VariableFont_wght.ttf);
    font-weight: normal;
}
@font-face {
    font-family: "Manrope-bold";
    src: url(assets/fonts/Manrope-ExtraBold.ttf);
    font-weight: 700;
}


